/artifacts/*.md text eol=lf
/artifacts/*.py text eol=lf
/artifacts/*.txt text eol=lf
/artifacts/SHA256SUMS text eol=lf
/certificates/*.cert text eol=lf
/certificates/*.py text eol=lf
/certificates/*.txt text eol=lf
/REPRODUCE.md text eol=lf
